nav{

  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.icons i {
  font-size: 30px;
  cursor: pointer;
  margin-left: 15px;
}



.dark{
  background-color: oklch(14.5% 0 0);
  color:antiquewhite
}

.white{
  background-color: rgb(135, 132, 132);
  color:rgb(40, 39, 39)
}



