nav{

  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.icons i {
  font-size: 30px;
  cursor: pointer;
  margin-left: 15px;
}



.dark{
  background-color: oklch(14.5% 0 0);
  color:antiquewhite
}

.white{
  background-color: rgb(135, 132, 132);
  color:rgb(40, 39, 39)
}



/* #togle{
  height: 30px;
  width: 70px;
  border: solid rgb(64, 58, 58);
  border-radius: 10px;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;

} */

/* .circ{
  position: absolute;
  height:19px;
  width: 19px;
  border: solid rgb(64, 58, 58);
  border-radius: 100%;
  right: 68px;
  top: 11px;
  padding:2px;
  transition: 0.6s;

} */

/* .circ.active{
  right: 33px;
} */